version: "3.3"
services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - 27017:27017
    volumes:
      - ./mongo-seed:/docker-entrypoint-initdb.d
    restart: unless-stopped

  api:
    build: ./api
    container_name: api
    ports:
      - "8000:8000"
    links:
      - mongodb
    environment:
      - MONGO_URL=mongodb
      - INVENTORY_URL=http://inventory:8002

  spa:
    build: ./spa
    container_name: spa
    ports:
      - "8081:80"
    links:
      - api

  recommendations:
    build: ./recommendations
    container_name: recs
    ports:
      - "8001:8001"

  inventory:
    build: ./inventory
    container_name: inv
    ports:
      - "8002:8002"
    links:
      - api
