name: Create and publish container images

on:
  push:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for spa container
        id: meta-spa
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-spa
          tags: |
            type=raw,value=latest

      - name: Build and push spa image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: spa/.
          push: true
          tags: ${{ steps.meta-spa.outputs.tags }}
          labels: ${{ steps.meta-spa.outputs.labels }}

      - name: Extract metadata (tags, labels) for api container
        id: meta-api
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-api
          tags: |
            type=raw,value=latest

      - name: Build and push api image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: api/.
          push: true
          tags: ${{ steps.meta-api.outputs.tags }}
          labels: ${{ steps.meta-api.outputs.labels }}

      - name: Extract metadata (tags, labels) for recommendations container
        id: meta-recommendations
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-recommendations
          tags: |
            type=raw,value=latest

      - name: Build and push recommendations image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: recommendations/.
          push: true
          tags: ${{ steps.meta-recommendations.outputs.tags }}
          labels: ${{ steps.meta-recommendations.outputs.labels }}

      - name: Extract metadata (tags, labels) for inventory container
        id: meta-inventory
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-inventory
          tags: |
            type=raw,value=latest

      - name: Build and push inventory image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: inventory/.
          push: true
          tags: ${{ steps.meta-inventory.outputs.tags }}
          labels: ${{ steps.meta-inventory.outputs.labels }}
