name: Tests
"on":
  push:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    name: "Recommendations test on Node.js v${{ matrix.node }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 16
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: "${{ matrix.node }}"
      - uses: actions/checkout@v2
      - name: "Cache node_modules"
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-v${{ matrix.node }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-v${{ matrix.node }}-
      - name: Install Dependencies
        run: cd recommendations && npm install
      - name: Run All Node.js Tests
        run: cd recommendations && npm run test
